<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ha.mr - link compressor</title>
  <link rel="stylesheet" href="{{ url_for('static', path='app.css') }}">
</head>
<body>

  <div id="loader"></div>

  <div id="content">

    <h1 class="title">ha.mr</h1>
    <p class="subtitle">(read: "hammer")</p>

    <input type="text" id="input-link" placeholder="https://some-long.link/" autofocus>
    <details id="query-warning">
      <summary>Consider removing parameters...</summary>
      <br>
      Some links include data that isn't necessary for the link to function,
      such as tracking information or page state. This data comes in the
      form of <i>query parameters</i>, marked by "?" and "&amp;" characters.
      <br><br>
      Removing these segments can sometimes significantly shorten the link
      without breaking it. For example, an Amazon product link contains a lot
      of tracking information. Everything past the "?" symbol can be safely
      removed, making the link much shorter.
    </details>
    <p id="output-link-container">
      <a id="output-link" target="_blank">Enter a link above to compress</a>
      <br><span id="output-ratio">&nbsp;</span>
    </p>

    <img width="256" height="256" id="qrcode" alt="Generated QR code">

    <span id="qr-correct-level-container">
      <label>QR code error correction threshold</label>
      <br>
      <input type="range" name="qr-correct-level" id="qr-correct-level" autocomplete="off" min="0" max="3" value="1">
    </span>

    <span style="margin-top:20px">
      <label for="settings-transport">Text output alphabet</label><br>
      <select id="settings-transport" name="settings-transport" autocomplete="off">
        <option value="ascii">ASCII (most compatible)</option>
        <option value="emoji">Emoji (dense display)</option>
        <option value="cjk">Japanese/CJK (highest density)</option>
      </select><br>
    </span>
    <span>
      <input type="checkbox" id="settings-qr" name="settings-qr" autocomplete="off">
      <label for="settings-qr"> Output QR code</label><br>
    </span>
    <br><br>

  </div>

  <script src="{{ url_for('static', path='app.js') }}"></script>
</body>
</html>
